<?xml version="1.0" encoding="utf-8"?>
<config>
    <modules>
        <Magazento_Orderoptions>
            <version>0.1.0</version>
        </Magazento_Orderoptions>
    </modules>
    
    <global>
        <models>
            <orderoptions>
                <class>Magazento_Orderoptions_Model</class>
                <resourceModel>orderoptions_mysql4</resourceModel>
            </orderoptions>
        </models>
        <resources>
            <orderoptions_setup>
                <setup>
                    <module>Magazento_Orderoptions</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </orderoptions_setup>
            <orderoptions_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </orderoptions_write>
            <orderoptions_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </orderoptions_read>
        </resources>
        <blocks>
            <orderoptions>
                <class>Magazento_Orderoptions_Block</class>
            </orderoptions>
            <adminhtml>
                <rewrite>
                    <sales_order_view_items_renderer_default>Magazento_Orderoptions_Block_Default</sales_order_view_items_renderer_default>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <orderoptions>
                <class>Magazento_Orderoptions_Helper</class>
            </orderoptions>
        </helpers>
    </global>
    <admin>
        <routers>
            <orderoptions>
                <use>admin</use>
                <args>
                    <module>Magazento_Orderoptions</module>
                    <frontName>orderoptions</frontName>
                </args>
            </orderoptions>
        </routers>
    </admin>
    
    <adminhtml>
        <layout>
            <updates>
                <orderoptions>
                    <file>magazento_orderoptions.xml</file>
                </orderoptions>
            </updates>
        </layout>
    </adminhtml>
</config>